/* slick carousel base styles */
.slick-prev:before, 
.slick-next:before {
  color: #2563eb; /* blue arrow */
}

.blob-1,
.blob-2,
.blob-3 {
  overflow: hidden;
  display: block;
}

.blob-1 {
  clip-path: polygon(
    72% 0%, 100% 21%, 89% 52%, 100% 84%, 
    61% 100%, 27% 85%, 0% 60%, 10% 20%, 40% 0%
  );
}

.blob-2 {
  clip-path: polygon(
    50% 0%, 88% 12%, 100% 50%, 84% 89%, 
    48% 100%, 16% 88%, 0% 50%, 15% 16%
  );
}

.blob-3 {
  clip-path: polygon(
    76% 0%, 100% 32%, 89% 66%, 61% 100%, 
    21% 92%, 0% 55%, 14% 16%, 45% 0%
  );
}